{% extends 'base.html' %}

{% block title %}
  Todo Lists
{% endblock title %}

{% block content %}
  <main>
    <div>
        <h1>{{ todo_list_object.name }}</h1>
        <p><a href="{% url 'edit_list' todo_list_object.pk %}">Edit</a></p>
        <p><a href="{% url 'delete_list' todo_list_object.id %}">Delete</a></p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for task in todo_list_object.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' task.pk %}">{{ task.task }}</a></td>
                        <td>{{ task.due_date|date:"d F Y" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </main>
{% endblock content %}
